<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/style.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Script.js")

</head>
<body onload="init()" onresize="init()">
    <div id="header">
        <div class="icon"></div>
        <div onclick="location.href='/Home/Index/@ViewBag.CurrentYear/@(ViewBag.CurrentMonth-1)'"
             class="nav-button left"></div>
        <div onclick="location.href='/Home/Index/@ViewBag.CurrentYear/@(ViewBag.CurrentMonth+1)'"
             class="nav-button right"></div>
        <div class="currentDate"> @ViewBag.CMonth @ViewBag.CurrentYear</div>

    </div>
    <div id="wrap">
        <div id="sideBar">Sidebar</div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>



